{% extends "base_generic.html" %}

{% block layout %}
  <main class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 bg-light min-vh-100 me-4">
      <a href="/"
         class="d-block p-3 link-dark text-decoration-none"
         data-bs-toggle="tooltip"
         data-bs-placement="right"
         data-bs-original-title="Icon-only">
        <i class="bx bxs-package bx-md"></i>
      </a>
      <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
          <a href="#"
             class="nav-link active py-3 border-bottom rounded-0"
             aria-current="page"
             data-bs-toggle="tooltip"
             data-bs-placement="right"
             aria-label="All"
             data-bs-original-title="All">
            <i class="bx bxs-category bx-md"></i>
          </a>
        </li>
        <li>
          <a href="#"
             class="nav-link py-3 border-bottom rounded-0"
             data-bs-toggle="tooltip"
             data-bs-placement="right"
             aria-label="Apps"
             data-bs-original-title="Apps">
            <i class="bx bx-desktop bx-md"></i>
          </a>
        </li>
        <li>
          <a href="#"
             class="nav-link py-3 border-bottom rounded-0"
             data-bs-toggle="tooltip"
             data-bs-placement="right"
             aria-label="Servers"
             data-bs-original-title="Servers">
            <i class="bx bxs-server bx-md"></i>
          </a>
        </li>
      </ul>
      <div class="dropdown border-top">
        <a href="#"
           class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
           data-bs-toggle="dropdown"
           aria-expanded="false">
          <img src="https://github.com/ArturoVergara.png"
               alt="Profile"
               width="24"
               height="24"
               class="rounded-circle"/>
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li>
            <a class="dropdown-item" href="#">Profile</a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a class="dropdown-item" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>

    {% block content %}
    {% endblock content %}
  </main>
{% endblock layout %}
