{% extends "panel/base.html" %}

{% block content %}
  <div class="container-fluid mt-4 bg-gray">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mb-4">
        <div class="card">
          <a href="#" target="_blank">
            <img src="https://placehold.it/720x350" class="card-img-top" alt="App" />
          </a>
          <div class="card-body">
            <a href="#" target="_blank">
              <h4 class="card-title">Card title</h4>
            </a>
            <span class="badge text-bg-success">SSH</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mb-4">
        <div class="card">
          <a href="#" target="_blank">
            <img src="https://placehold.it/720x350" class="card-img-top" alt="App" />
          </a>
          <div class="card-body">
            <a href="#" target="_blank">
              <h4 class="card-title">Card title</h4>
            </a>
            <span class="badge text-bg-success">SSH</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mb-4">
        <div class="card">
          <a href="#" target="_blank">
            <img src="https://placehold.it/720x350" class="card-img-top" alt="App" />
          </a>
          <div class="card-body">
            <a href="#" target="_blank">
              <h4 class="card-title">Card title</h4>
            </a>
            <span class="badge text-bg-primary">Web App</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mb-4">
        <div class="card">
          <a href="#" target="_blank">
            <img src="https://placehold.it/720x350" class="card-img-top" alt="App" />
          </a>
          <div class="card-body">
            <a href="#" target="_blank">
              <h4 class="card-title">Card title</h4>
            </a>
            <span class="badge text-bg-primary">Web App</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mb-4">
        <div class="card">
          <a href="#" target="_blank">
            <img src="https://placehold.it/720x350" class="card-img-top" alt="App" />
          </a>
          <div class="card-body">
            <a href="#" target="_blank">
              <h4 class="card-title">Card title</h4>
            </a>
            <span class="badge text-bg-success">SSH</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mb-4">
        <div class="card">
          <a href="#" target="_blank">
            <img src="https://placehold.it/720x350" class="card-img-top" alt="App" />
          </a>
          <div class="card-body">
            <a href="#" target="_blank">
              <h4 class="card-title">Card title</h4>
            </a>
            <span class="badge text-bg-success">SSH</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
