{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Soloaccess | Panel Overview</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap">
	<script src="https://kit.fontawesome.com/b61e574d7a.js"></script>
	<link rel="stylesheet" href="{% static 'css/panel.css' %}">
</head>
<body>
	<div class="sidebar">
  	<span class="sidebar__logo">
    	<i class="fas fa-network-wired"></i>
  	</span>
  	<hr />
  	<a href="#" class="sidebar__link active">
    	<i class="fas fa-cubes"></i>
    	<span class="tooltip">All</span>
  	</a>
  	<a href="#" class="sidebar__link">
    	<i class="fas fa-desktop"></i>
    	<span class="tooltip">Web Apps</span>
  	</a>
  	<a href="#" class="sidebar__link">
    	<i class="fas fa-server"></i>
    	<span class="tooltip">Servers</span>
  	</a>
  	<div class="sidebar__bottom">
    	<hr />
    	<a href="#" class="sidebar__link">
      	<i class="fas fa-user-circle"></i>
      	<span class="tooltip">Profile</span>
    	</a>
  	</div>
  </div>
	<div class="cards-container">
		<div class="access-card">
    	<img src="https://picsum.photos/400/400/?random" alt="Linux Server 1" class="access-card__image cyan">
    	<p class="access-card__name">Linux Server 1</p>
    	<a href="{% url 'panel:access_detail' %}" target="_blank" class="access-card__link cyan">SSH Server</a>
  	</div>
		<div class="access-card">
    	<img src="https://picsum.photos/400/400/?random" alt="Web App 1" class="access-card__image lime">
    	<p class="access-card__name">Web App 1</p>
    	<a href="{% url 'panel:access_detail' %}" target="_blank" class="access-card__link lime">Web App</a>
  	</div>
		<div class="access-card">
    	<img src="https://picsum.photos/400/400/?random" alt="Linux Server 2" class="access-card__image cyan">
    	<p class="access-card__name">Linux Server 2</p>
    	<a href="{% url 'panel:access_detail' %}" target="_blank" class="access-card__link cyan">SSH Server</a>
  	</div>
		<div class="access-card">
    	<img src="https://picsum.photos/400/400/?random" alt="Linux Server 3" class="access-card__image cyan">
    	<p class="access-card__name">Linux Server 3</p>
    	<a href="{% url 'panel:access_detail' %}" target="_blank" class="access-card__link cyan">SSH Server</a>
  	</div>
		<div class="access-card">
    	<img src="https://picsum.photos/400/400/?random" alt="Linux Server 4" class="access-card__image cyan">
    	<p class="access-card__name">Linux Server 4</p>
    	<a href="{% url 'panel:access_detail' %}" target="_blank" class="access-card__link cyan">SSH Server</a>
  	</div>
		<div class="access-card">
    	<img src="https://picsum.photos/400/400/?random" alt="Web App 2" class="access-card__image lime">
    	<p class="access-card__name">Web App 2</p>
    	<a href="{% url 'panel:access_detail' %}" target="_blank" class="access-card__link lime">Web App</a>
  	</div>
		<div class="access-card">
    	<img src="https://picsum.photos/400/400/?random" alt="Linux Server 5" class="access-card__image cyan">
    	<p class="access-card__name">Linux Server 5</p>
    	<a href="{% url 'panel:access_detail' %}" target="_blank" class="access-card__link cyan">SSH Server</a>
  	</div>
		<div class="access-card">
    	<img src="https://picsum.photos/400/400/?random" alt="Web App 3" class="access-card__image lime">
    	<p class="access-card__name">Web App 3</p>
    	<a href="{% url 'panel:access_detail' %}" target="_blank" class="access-card__link lime">Web App</a>
  	</div>
	</div>
</body>
</html>
