{% extends "console/base.html" %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{% url 'console:home' %}"><i class="bx bxs-home-circle" aria-hidden="true"></i> Home</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    <a href="{% url 'console:access_list' %}">Accesses</a>
  </li>
{% endblock breadcrumb %}

{% block content %}
  <div class="container-fluid">
    <div class="row row-eq-spacing-lg">
      <div class="col">
        <div class="card">
          <div class="d-flex">
            <h2 class="card-title flex-grow-1">Access List</h2>
            <a href="{% url 'console:access_create' %}"
               class="btn btn-success text-white">New Access</a>
          </div>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Observation</th>
                <th>Active</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for access in accesses %}
                <tr>
                  <th>{{ forloop.counter }}</th>
                  <td>{{ access.name }}</td>
                  <td>{{ access.get_type_display }}</td>
                  <td>{{ access.observation }}</td>
                  <td>
                    {% if not access.is_disable %}
                      <span class="text-success">
                        <i class="bx bxs-check-circle" aria-hidden="true"></i>
                      </span>
                    {% else %}
                      <span class="text-danger">
                        <i class="bx bxs-x-circle" aria-hidden="true"></i>
                      </span>
                    {% endif %}
                  </td>
                  <td class="text-right">
                    <a href="{% url 'console:access_update' access.id %}"
                       class="btn btn-secondary">
                      <i class="bx bxs-edit-alt"></i>
                    </a>
                    <button class="btn btn-danger"
                            type="button"
                            onclick="deleteAccess({{ access.id }})">
                      <i class="bx bxs-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="delete-access-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <h5 class="modal-title">Delete Access</h5>
        <p>Are you sure you want to delete this access?</p>
        <div class="d-flex justify-content-end mt-20">
          <button class="btn mr-10"
                  onclick="halfmoon.toggleModal('delete-access-modal')">Cancel</button>
          <form id="delete-access-form" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block morescripts %}
  <script>
    function deleteAccess(accessId) {
      const deleteAccessForm = document.getElementById('delete-access-form');
      const action = "{% url 'console:access_delete' 12345 %}";

      deleteAccessForm.action = action.replace(/12345/, accessId);
      halfmoon.toggleModal('delete-access-modal');
    }
  </script>
{% endblock morescripts %}
