{% extends "base_generic.html" %}

{% block layout %}
  <!-- Page wrapper start -->
  <div id="page-wrapper"
       class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom"
       data-sidebar-type="overlayed-sm-and-down">
    <!-- Sticky alerts -->
    <div class="sticky-alerts"></div>
    <!-- Navbar start -->
    <nav class="navbar">
      <div class="navbar-content">
        <button id="toggle-sidebar-btn"
                class="btn btn-action"
                type="button"
                onclick="halfmoon.toggleSidebar()">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <span class="navbar-brand ml-10 ml-sm-20">Soloaccess</span>
    </nav>
    <!-- Navbar end -->
    <!-- Sidebar overlay -->
    <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
    <!-- Sidebar start -->
    <div class="sidebar">
      <div class="sidebar-menu">
        {% with request.resolver_match.url_name as url_name %}
          <h5 class="sidebar-title">Dashboard</h5>
          <div class="sidebar-divider"></div>
          <a href="{% url 'console:access_list' %}"
             class="sidebar-link sidebar-link-with-icon {% if 'access' in url_name %} active{% endif %}">
            <span class="sidebar-icon">
              <i class="bx bxs-server" aria-hidden="true"></i>
            </span>
            Accesses
          </a>
          <a href="{% url 'console:policy_list' %}"
             class="sidebar-link sidebar-link-with-icon {% if 'policy' in url_name %} active{% endif %}">
            <span class="sidebar-icon">
              <i class="bx bx-list-check" aria-hidden="true"></i>
            </span>
            Policies
          </a>
          <a href="{% url 'console:user_list' %}"
             class="sidebar-link sidebar-link-with-icon {% if 'user' in url_name %} active{% endif %}">
            <span class="sidebar-icon">
              <i class="bx bxs-user-account" aria-hidden="true"></i>
            </span>
            Users
          </a>
        {% endwith %}
      </div>
    </div>
    <!-- Sidebar end -->
    <!-- Content wrapper start -->
    <div class="content-wrapper">
      {% if messages %}
        {% include "partials/message_notification_toast.html" %}
      {% endif %}
      <div class="content">
        <nav aria-label="Breadcrumb Navigation">
          <ul class="breadcrumb">

            {% block breadcrumb %}
              <li class="breadcrumb-item">
                <a href="{% url 'console:home' %}"><i class="bx bxs-home-circle" aria-hidden="true"></i> Home</a>
              </li>
            {% endblock breadcrumb %}
          </ul>
        </nav>
      </div>

      {% block content %}
      {% endblock content %}
    </div>
    <!-- Content wrapper end -->
    <!-- Navbar fixed bottom start -->
    <nav class="navbar navbar-fixed-bottom">
      <span class="navbar-text">© Copyright {% now "Y" %}</span>
    </nav>
    <!-- Navbar fixed bottom end -->
  </div>
  <!-- Page wrapper end -->
{% endblock layout %}
