{% extends "console/base.html" %}
{% load widget_tweaks %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{% url 'console:home' %}"><i class="bx bxs-home-circle" aria-hidden="true"></i> Home</a>
  </li>
  <li class="breadcrumb-item" aria-current="page">
    <a href="{% url 'console:policy_list' %}">Policies</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    <a href="#">Policy Form</a>
  </li>
{% endblock breadcrumb %}

{% block content %}
  <div class="container-fluid">
    <div class="row row-eq-spacing-lg">
      <div class="col">
        <div class="card">
          <h2 class="card-title flex-grow-1">Policy Registration</h2>
          <form method="post">
            <div class="form-group">
              <label for="id_name" class="required">Name</label>
              {% render_field form.name class+="form-control" %}
            </div>
            <div class="form-group">
              <label for="id_description">Description</label>
              {% render_field form.description rows="4" class+="form-control" %}
            </div>
            <div class="form-group">
              <div class="custom-switch">
                {% render_field form.is_disable %}
                <label for="id_is_disable">Is disable?</label>
              </div>
            </div>
            {# Include the hidden fields in the form #}
            {% for hidden_field in form.hidden_fields %}{{ hidden_field }}{% endfor %}
            {% csrf_token %}
            <input class="btn btn-primary btn-block" type="submit" value="Submit Policy"/>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
